body {
  font-family: Helvetica;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.app {
  height: 100vh;
  display: flex;
  .logo {
    width: 60px;
    background-color: #d1d1d1;
    height: 100%;
    padding: 10px;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .channels {
    width: 20%;
    background-color: #F4F4F4;
    .channels-title {
      font-weight: bolder;
      height: 10%;
      color: rgb(83, 83, 83);
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .channels-container {
      height: 90%;
      padding: 20px;
      text-align: center;
    }
    .channel {
      cursor: pointer;
      p {
        color: grey;
      }
      &.active {
        font-weight: bold;
        font-size: 17px;
        p {
          color: #D23333;
        }
      }
    }
  }
  .messages {
    width: 80%;
    border-left: 2px solid #929292;
    .messages-title {
      border-bottom: 1px solid #F4F4F4;
      font-weight: bold;
      padding-left: 20px;
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
    }
    .messages-container {
      height: 80%;
      padding: 20px;
      overflow-x: hidden; /* Hide horizontal scrollbar */
      overflow-y: scroll; /* Add vertical scrollbar */
      .message {
        color: black;
        margin: 0 0 15px 0;
        h6 {
          font-weight: bold;
          small {
            color: grey;
            font-size: 12px;
            font-style: italic;
          }
        }
        p {
          margin: 0;
        }
      }
    }
    .messages-form {
      border-top: 1px solid #F4F4F4;
      height: 10%;
      display: flex;
      align-items: center;
      padding: 0 20px;
      display: flex;

      input[type="text"] {
        outline: none !important;
        padding: 10px;
        width: 100%;
        height: 60%;
        border-radius: 4px 0 0 4px;
        border: 1px solid red;
        &:focus {
          outline: none !important;
          border: 2px solid red;
          color: rgb(69, 69, 69);
        }
      }
      button {
        background-color: red;
        border: 1px solid red;
        color: white;
        padding: 10px;
        height: 60%;
        border-radius: 0 4px 4px 0;
        font-weight: lighter;
        opacity: 0.6;
        transition: opacity 0.3s ease;
        display: flex;
        align-items: center;
      }
      button:hover {
        opacity: 0.8;
      }
    }
  }
}
